//Color Pallet
$textColor: #000;
$textColorWhite: #fff;
$textColorLightGray: #989898;
$textColorDarkGray: #656565;
$mainYellow: #ffe1bd;
$imageBg: #d8d8d8;

//Typegraphy
$mainFontReg: 'Montserrat-Regular', sans-serif;
$mainFontBold: 'Montserrat-Bold', sans-serif;
$mainFontLight: 'Montserrat-Light', sans-serif;
$mainFontHairline: 'Montserrat-Hairline', sans-serif;

//Media
$xs: 767px;
$sm-min: 768px;
$sm-max: 992px;
$md-min: 992px;
$md-max: 1200px;
